<footer class="page-footer">
  <div class="container">
      <div class="main-footer">
          <h2>Nitsan Technologies Pvt.Ltd.</h2>
          <ul>
              <li>Telefon <a href="tel:+4312530162038">+43 1 253 016 2038</a></li>
              <li>Telephone <a href="tel:+9102782568181">+9102782568181</a></li>
              <li><a href="mailto:info@nitsan.in">info@nitsan.in</a></li>
              <li><a href="https://www.nitsan.in/" target="_blank">www.nitsan.in</a></li>
          </ul>
      </div>
  </div>
</footer>
<!-- END OF PAGE FOOTER -->
