<header class="page-header">
  <div class="container-fluid">
      <div class="header-main">
          <div class="brand-logo">
              <a href="{{webRoot}}/index.html">
                  <img src="data:," data-src="{{webRoot}}/assets/images/NitsanLogo-Black.png" alt="logo" class="desktop-logo lozad">
              </a>
          </div>
          <div id="menuTrigger" class="menu-trigger">
              <div class="bars"></div>
              <div class="bars"></div>
              <div class="bars"></div>
          </div>

          <div class="navigation">
              <nav>
                  <ul class="nav-items">
                      <li class="active"><a href="{{webRoot}}/index.html">Home</a></li>
                      <li><a href="javascript:;">Services</a></li>
                      <li><a href="javascript:;">Work</a></li>
                      <li><a href="javascript:;">Carrier</a></li>
                      <li><a href="javascript:;">About Us</a></li>
                      <li><a href="javascript:;">Contact</a></li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- END OF PAGE HEADER -->
