/**************************************************************************
* Form
***************************************************************************/
.form-group {
  margin-bottom: 22px;

  .btn {
    @include inline-block;
    margin-right: 15px;
    width: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}

*[type='text'] {
  margin-left: 0;
  width: 100%;
}

input,
select,
textarea,
.form-control {
  @extend %fontsize16;
  @include transition(all, 0.3s, ease, 0s);
  background-color: #fff;
  border: 1px solid $text-muted-color;
  border-radius: 0;
  color: $input-color;
  height: auto;
  padding: 12px 15px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:focus {
    border-color: $brand-color;
  }
}

select {
  /* needed */
  appearance: none;
  /* SVG background image */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(70,70,70)'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-color: #efefef;
  background-position: calc(100% - 16px) calc(100% - 16px);
  background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

textarea {
  height: 180px;
  resize: none;
}

*[type='radio'],
*[type='checkbox'] {
  width: auto;

  &:focus {
    outline: none;
  }
}

.parsley-custom-error-message,
.parsley-error,
.parsley-required,
.parsley-type {
  @extend %fontsize14;
  color: $input-error-color;
  margin-top: 5px;
}

@include media-breakpoint-up(md) {
  textarea {
    height: 240px;
  }
}
